
:root.theme-light {
  --bg-image: url('..images/cover-image-light.png');
  --bg-color: rgba(255, 241, 247, 1);
  --accent-color_heading: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-color_text: rgba(53, 52, 48, 1);
  --accent-color_title: rgba(255, 194, 230, 1);
  --t-color: rgba(53, 52, 48, 1);
  --display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url('..images/cover-image-light.png');
  --bg-color: rgba(255, 241, 247, 1);
  --accent-color_heading: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-color_text: rgba(53, 52, 48, 1);
  --accent-color_title: rgba(255, 194, 230, 1);
  --t-color: rgba(53, 52, 48, 1);
  --display: none;
  }
}